.extra-footer {
    padding: 20px;
    background-color: $footer-background-color;
    a {
        color: $body-color;
    }
}

.footer-block{
    margin-top: 0p;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $footer-background-color;
    text-align:center;
    color: $body-color;
    border-top:4px solid $body-color;
}
