.extra-footer {
    color: color-yiq($footer-background-color);
    padding: 20px;
    background-color: $footer-background-color;
    a {
        color: color-yiq($footer-background-color);
    }
}

.footer-block{
    margin-top: 0p;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $footer-background-color;
    color: color-yiq($footer-background-color);
    text-align:center;
    border-top:4px solid color-yiq($footer-background-color);
}
