.halfscreen {
    min-height:60vh;
}

.hero-banner {

    &, h1, a:not(.btn):not(:hover) {
        color: white;
    }

    .cover-banner {
        background-size: cover;
        background: $primary linear-gradient(180deg, mix($body-color, $primary, 15%), $primary) repeat-x;
    }

}

.navbar{
    background-color: $navbar-bg;
    @include media-breakpoint-down(md) {
        background-color: $navbar-bg-nostick;
    }
}

.nostick {
        background-color: $navbar-bg-nostick;
}

.navbar-brand {
    width: 100px;
    height: 50px;
    background-image: $logo;
    background-repeat: no-repeat;
    background-size:90%;
    text-indent: -9999em;
}


.tunnel-header{
    width: 100% !important;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    padding-top:5px;
}

.navbar-nav{
    a, span {
        text-transform:uppercase;
        font-weight:600;
        color:$white;
        padding: 0 20px;
    }
    a:hover, .current, .nav-link.disabled {
         color: rgba(250,250,250, 0.7);
    }
}
