// Helpers
.letter-spacing {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.pointer {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

.section-gap {
	padding: 100px 0;
}

.section-light {
	background-color:$light;
}
