// -------
// Helpers
// -------

.letter-spacing {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.pointer {
    cursor: pointer;
}

.clickable:hover {
    cursor: pointer;
}

.section-gap {
    padding: $section-gap;
}

.section-light {
    background-color:$light;
}

.a {
  cursor:pointer;
  color: $link-color;
  text-decoration: $link-decoration;
}

.a:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
}

.text-link {
    text-decoration: none;
    color: $body-color;
    cursor: auto;
}

// Remove white space for non-js client
[data-img] {
    display:none;
}
